.location_grid {
    margin-block: 120px;
}

.location_grid,
.location_grid > div {
    display: grid;
    justify-items: center;
}

.location_grid,
.location_grid > div {
    row-gap: 48px;
}

.location_grid h3 {
    text-align: center;
    margin-bottom: 32px;
}

.location_grid button {
    display: block;
    margin-inline: auto;
}