.design_links,
.card_grid {
    margin-block: 96px;
    margin-inline: auto;
}

.design_links {
    display: grid;
    row-gap: 24px;
    margin-inline: auto;
    max-width: 327px;
}

.card_grid {
    display: grid;
    row-gap: 40px;
    padding-inline: 24px;
    max-width: 1200px;
}

@media screen and (min-width: 481px) {
    .card_grid {
        margin-block: 120px;
    }
}

@media screen and (min-width: 769px) {
    .card_grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 32px;
        column-gap: 30px;
    }
}

@media screen and (min-width: 1053px) {
    .card_grid {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 32px;
        column-gap: 30px;
    }
}