.card {
    display: grid;
    border-radius: var(--radius-element);
    overflow: hidden;
    cursor: pointer;
}

.card img {
    height: 320px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .card img {
        height: 310px;
    }

    .card {
        grid-template-columns: repeat(2, 1fr);
    }
}

.card > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
    padding-inline: 30px;
    padding-block: 32px;
    text-align: center;
    background-color: #FDF3F0;
}

.card > div,
.card h3 {
    transition: all 0.15s ease-in-out;
}

.card:is(:hover, :focus) > div {
    background-color: var(--clr-peach-pri);
}

.card h3 {
    color: var(--clr-peach-pri);
}

.card:is(:hover, :focus) > div,
.card:is(:hover, :focus) h3 {
    color: var(--clr-white);
}