.button {
    width: fit-content;
    padding-inline: 24px;
    padding-block: 18px;
    border: none;
    border-radius: var(--radius-btn);
    font-size: var(--font-size-body);
    font-weight: 500;
    letter-spacing: 1px;
}

.white,
.white > a {
    color: var(--clr-dark-grey);
}

.white {
    background-color: var(--clr-white);
}

.peach,
.peach > a {
    color: var(--clr-white);
}

.peach {
    background-color: var(--clr-peach-pri);
}