.card {
    position: relative;
    margin-inline: 24px;
    padding-inline: 24px;
    padding-block: 64px;
    margin-top: 120px;
    text-align: center;
    color: var(--clr-white);
    background-color: var(--clr-peach-pri);
    background-image: url(/bg-pattern-call-to-action.svg);
    background-position: center;
    background-size: 300%;
    border-radius: var(--radius-element);
}

@media screen and (min-width: 1160px) {
    .card {
        margin-inline: calc(50% - 556px);
    }    
}

.card::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 50%;
    left: -24px;
    width: calc(100% + 48px);
    background-color: var(--clr-black);
    z-index: -1;
}

@media screen and (min-width: 1160px) {
    .card::after {
        left: calc(-1 * calc(50vw - 556px));
        width: 100vw;
    }
}

.card h2 {
    font-size: 32px;
    line-height: var(--line-height-h2);
    margin-bottom: 16px;
}

.card > div {
    margin-bottom: 26px;
}