:root {
  --clr-white: #FFF;
  --clr-light-grey: #F1F3F5;
  --clr-dark-grey: #333136;
  --clr-black: #1D1C1E;
  --clr-peach-pri: #E7816B;
  --clr-peach-sec: #FFAD9B;
  --font-size-h1: 48px;
  --font-size-h2: 40px;
  --font-size-h3: 20px;
  --font-size-body: 16px;
  --font-size-link: 24px;
  --line-height-h1: 48px;
  --line-height-h2: 48px;
  --line-height-h3: 26px;
  --line-height-body: 26px;
  --line-height-link: 25px;
  --space-h2: 2px;
  --space-h3: 5px;
  --space-link: 2px;
  --font-weight-head: 500;
  --radius-btn: 8px;
  --radius-element: 15px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}

body {
  position: relative;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}