:root {
  --clr-white: #FFF;
  --clr-light-grey: #F1F3F5;
  --clr-dark-grey: #333136;
  --clr-black: #1D1C1E;
  --clr-peach-pri: #E7816B;
  --clr-peach-sec: #FFAD9B;
  --font-size-h1: 32px;
  --font-size-h2: 28px;
  --font-size-h3: 20px;
  --font-size-body: 15px;
  --font-size-link: 14px;
  --line-height-h1: 36px;
  --line-height-h2: 36px;
  --line-height-h3: 26px;
  --line-height-body: 25px;
  --line-height-link: 14px;
  --space-h2: 1.4px;
  --space-h3: 5px;
  --space-link: 2px;
  --font-weight-head: 500;
  --radius-btn: 8px;
  --radius-element: 15px;
}

@media screen and (min-width: 481px) {
  :root {
    --font-size-h1: 48px;
    --font-size-h2: 40px;
    --font-size-body: 16px;
    --line-height-h1: 48px;
    --line-height-h2: 48px;
    --line-height-body: 26px;
    --space-h2: 2px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}

body {
  position: relative;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-weight: var(--font-weight-head);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: var(--font-weight-head);
  letter-spacing: var(--space-h2);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: var(--font-weight-head);
  letter-spacing: var(--space-h3);
}

a {
  text-decoration: none;
  color: inherit;
  font-size: var(--font-size-link);
  line-height: var(--line-height-link);
  letter-spacing: var(--space-link);
}

button {
  font-family: inherit;
}