.hero {
    position: relative;
    height: 830px;
    padding-inline: 24px;
    padding-top: 80px;
    max-width: 1160px;
    color: var(--clr-white);
    background-image: url(/bg-pattern-hero-home.svg);
    background-position-y: center;
    background-repeat: no-repeat;
    background-color: var(--clr-peach-pri);
    text-align: center;
    overflow: hidden;
}

@media screen and (min-width: 481px) {
    .hero {
        padding-inline: 95px;
        margin-inline: 24px;
        border-radius: var(--radius-element);
    }
}

@media screen and (min-width: 945px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr 265px;
        column-gap: 24px;
        padding-top: 0;
        height: 640px;
        text-align: left;
        background-position: right;
    }
}

@media screen and (min-width: 1160px) {
    .hero {
        margin-inline: calc(50vw - 556px);
    }
}

.hero > div {
    display: grid;
    row-gap: 24px;
    justify-items: center;
}

@media screen and (min-width: 945px) {
    .hero > div {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        justify-content: center;
        height: 640px;
        max-width: 500px;
    }

    .hero p {
        max-width: 445px;
    }
}

.hero h1 {
    margin-bottom: 14px;
}

.hero img {
    justify-self: center;
    pointer-events: none;
}

@media screen and (max-width: 944px) {
    .hero img {
        position: absolute;
        bottom: -375px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width: 945px) {
    .hero img {
        margin-top: -20px;
    }
}

.projects,
.attributes {
    display: grid;
    justify-items: center;
    margin-block: 120px;
    margin-inline: auto;
    padding-inline: 24px;
    max-width: 1160px;
}

.projects {
    row-gap: 24px;
}

@media screen and (min-width: 900px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }

    .projects > a:first-child {
        grid-row: 1 / 3;
        background-image: url(/image-web-design-large.jpg);
    }
}

.attributes {
    row-gap: 80px;
}

@media screen and (min-width: 900px) {
    .attributes {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
    }
}

.attributes > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    text-align: center;
}

@media screen and (min-width: 647px) and (max-width: 899px) {
    .attributes {
        row-gap: 32px;
    }

    .attributes > div {
        flex-direction: row;
        text-align: left;
    }
}

.img_container {
    display: flex;
    height: fit-content;
    border-radius: 100%;
}

.attributes > div:first-of-type .img_container {
    background-image: linear-gradient(to right, #5f02021a, transparent);
}

.attributes > div:nth-child(2) .img_container {
    background-image: linear-gradient(to top, #5f02021a, transparent);
}

.attributes > div:last-of-type .img_container {
    background-image: linear-gradient(to bottom, #5f02021a, transparent);
}

.attributes h3 {
    margin-bottom: 32px;
}