.footer,
.heading,
.contact {
    display: grid;
    justify-items: center;
    text-align: center;
}

.footer,
.contact {
    row-gap: 40px;
}

.footer {
    padding-block: 64px;
    padding-inline: 24px;
    color: var(--clr-white);
    background-color: var(--clr-black);
}

.heading {
    row-gap: 32px;
    width: 100%;
}

.heading nav {
    display: grid;
    row-gap: 32px;
    padding-top: 32px;
    width: 100%;
    border-top: 1px solid #ffffff1a;
}

.address,
.numbers {
    opacity: 0.5;
}

.socials {
    display: flex;
    align-items: center;
    gap: 16px;
}