.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-inline: 24px;
    max-width: 1152px;
    height: 320px;
    color: var(--clr-white);
    text-align: center;
    background-color: var(--clr-peach-pri);
    background-image: url(/bg-pattern-design-pages-intro-mobile.svg);
    background-size: 220%;
    background-position: top right;
}

@media screen and (min-width: 481px) {
    .hero {
        margin-inline: 24px;
        border-radius: var(--radius-element);
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        margin-inline: auto;
    }
}