.link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    height: 250px;
    border-radius: var(--radius-element);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    isolation: isolate;
    overflow: hidden;
}

@media screen and (max-width: 480px) {
    .link {
        max-width: 327px;
    }
}

@media screen and (min-width: 481px) and (max-width: 899px) {
    .link {
        height: 200px;
    }
}

@media screen and (min-width: 900px) {
    .link {
        min-height: 308px;
        height: 100%;
        gap: 24px;
    }
}

.link::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #00000080;
    z-index: -1;
}

.link[data-variant='web'] {
    background-image: url(./background-images/image-web-design-mobile.jpg);
}

.link[data-variant='app'] {
    background-image: url(./background-images/image-app-design-mobile.jpg);
}

.link[data-variant='graphic'] {
    background-image: url(./background-images/image-graphic-design-mobile.jpg);
}

@media screen and (min-width: 481px) {
    .link[data-variant='web'] {
        background-image: url(./background-images/image-web-design-tablet.jpg);
    }
    
    .link[data-variant='app'] {
        background-image: url(./background-images/image-app-design-tablet.jpg);
    }
    
    .link[data-variant='graphic'] {
        background-image: url(./background-images/image-graphic-design-tablet.jpg);
    }
}

@media screen and (min-width: 900px) {
    .link[data-variant='web'] {
        background-image: url(./background-images/image-web-design-desktop.jpg);
    }
    
    .link[data-variant='app'] {
        background-image: url(./background-images/image-app-design-desktop.jpg);
    }
    
    .link[data-variant='graphic'] {
        background-image: url(./background-images/image-graphic-design-desktop.jpg);
    }
}

.link p {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 5px;
}

.link p::after {
    content: url(/icon-right-arrow.svg);
    margin-left: 16px;
}